<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Digital</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body class="px-2"> 
    <h1 class="text-[calc(99vw/8)] tracking-[-0.03em] leading-none font-semibold border-b border-solid pb-4">Interactive Digital</h1>
    <div class="flex mt-4">
        <!-- <div class="basis-3/5 flex-initial">
            <div class="flex flex-col">
                <div class="text-[calc(50vw/8)] tracking-[-0.03em] leading-none font-semibold mb-2">Projects</div>
                <div class="text-[calc(50vw/8)] tracking-[-0.03em] leading-none font-semibold mb-2">Sketches</div>
                <div class="text-[calc(50vw/8)] tracking-[-0.03em] leading-none font-semibold mb-2">Résumé</div>
            </div>
        </div> -->
        <div>
        <!-- <div class="basis-2/5 flex-initial"> -->
            <div class="text-2xl tracking-[-0.03em] leading-none font-semibold pb-1 mb-1">Activity</div>
            <svg width="100%" height="{{activity_stats.max * 5 + 10}}" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polyline
                    points="{% for coord in activity_stats.coords %} {{ coord.x * 3 }} {{ coord.y * 5 }},{% endfor %}"
                    stroke="black"
                    stroke-linejoin="miter"
                    fill="transparent"
                    stroke-width="2"
                    transform="scale(1, -1) translate(0, -{{activity_stats.max * 5 - 5}})"
                />
                <!-- <polyline points="60 0, 110 65, 120 70, 115 75, 130 80, 125 85, 140 90, 135 95, 150 100, 160" stroke="orange" fill="transparent" stroke-width="5"/> -->
            </svg>
        {% for commit in ui_commits %}
            <div class="mb-2">
                <span class="underline text-sm">{{ commit.repo_name }}</span>
                <span class="text-gray-400 text-xs font-bold">{{ commit.author_date }}</span>
                <br>
                <span class="text-gray-500 text-sm font-semibold whitespace-pre-line">{{ commit.commit_msg }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>