<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Digital</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body> 
    <h1 class="text-[calc(100vw/8)] tracking-[-0.03em] leading-none font-semibold">Interactive Digital</h1>
    <div class="px-4">
        <h3 class="text-4xl tracking-[-0.03em] leading-none font-semibold">Activity</h3>
        {{ __tera_context }}
    </div>
</body>
</html>