<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Interactive Digital</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <link rel="preconnect" href="https://rsms.me/" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    </head>

    <body class="px-2">
        <div class="py-4 flex flex-row items-end justify-between">
            <!-- <div class="border-b border-solid py-4 flex flex-row items-end justify-between"> -->
            <a href="/">
                <div
                    class="text-[calc(50vw/8)] tracking-[-0.03em] leading-none font-semibold"
                >
                    Interactive Digital
                </div>
            </a>
        </div>
        <nav class="mb-4">
            <ul>
                <li>
                    <a
                        class="text-blue-600 visited:text-purple-600"
                        href="/posts/posts.html"
                    >
                        <span
                            class="sm:text-sm md:text-md text-gray-600 font-semibold underline"
                            >Posts</span
                        >
                    </a>
                </li>
            </ul>
        </nav>
        <div class="post-content max-w-prose">{{ content }}</div>
    </body>
</html>
