<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Interactive Digital</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <link rel="preconnect" href="https://rsms.me/" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    </head>

    <body class="px-2">
        <div class="py-4 flex flex-row items-end justify-between">
            <!-- <div class="border-b border-solid py-4 flex flex-row items-end justify-between"> -->
            <a href="/">
                <div
                    class="text-[calc(50vw/8)] tracking-[-0.03em] leading-none font-semibold"
                >
                    Interactive Digital
                </div>
            </a>
        </div>
        <nav class="mb-4">
            <ul>
                <li>
                    <a
                        class="text-blue-600 visited:text-purple-600"
                        href="/posts/posts.html"
                    >
                        <span
                            class="sm:text-sm md:text-md text-gray-600 font-semibold underline"
                            >Posts</span
                        >
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            {% if posts %}
            <ul>
                {% for post in posts %}
                <li class="mb-2">
                    <a
                        class="underline leading-none font-medium tracking-[-0.03em] text-lg text-gray-700 visited:text-purple-600"
                        href="/posts/{{ post.html_filename }}"
                        >{{ post.title }}</a
                    >
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <span
                class="text-sm lg:text-[0.95rem] max-w-prose text-slate-700 font-[450]"
                >No posts yet!</span
            >
            {% endif %}
        </div>
    </body>
</html>
