@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/et-book-roman-line-figures.ttf') format('truetype');
} */

:root {
    font-family: Inter, sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1; /* fix for Chrome */
}
/* @supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
} */

/*
.para {
    @apply mb-4;
} */

code {
    @apply font-mono font-medium bg-gray-100 border rounded-sm border-gray-600 p-1;
}

/* Language-specific code block styling */
code[class^="language-"] {
    display: block;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 14px;
}

a:has(code) {
    content: none;
}

a:has(code)::after {
    content: none;
}

ul li {
    @apply list-disc ml-6 text-gray-800 mb-4;
}

ul h3 {
    @apply leading-none font-bold tracking-[-0.03em] text-xl text-gray-800 mt-4 mb-2;
}

ul h4 {
    @apply leading-none font-bold tracking-[-0.03em] text-lg text-gray-800 mt-4 mb-4;
}

ol li {
    @apply list-decimal ml-6 text-gray-800 mb-4;
}

ol h3 {
    @apply leading-none font-bold tracking-[-0.03em] text-xl text-gray-800 mt-4 mb-2;
}

ol h4 {
    @apply leading-none font-bold tracking-[-0.03em] text-lg text-gray-800 mt-4 mb-4;
}

h1 {
    @apply leading-none font-bold tracking-[-0.03em] text-4xl text-gray-800 lg:mt-4 mb-6;
}

h2 {
    @apply leading-none font-bold tracking-[-0.03em] text-2xl text-gray-800 lg:mt-4 mb-4;
}

.post-content h3 {
    @apply leading-none font-bold tracking-[-0.03em] text-xl text-gray-800 mt-4 mb-4;
}

.post-content h4 {
    @apply leading-none font-bold tracking-[-0.03em] text-lg text-gray-800 mt-4 mb-4;
}

.post-content p {
    @apply text-gray-800 mb-4;
}

.post-content a {
    @apply text-blue-600 visited:text-purple-600  hover:text-blue-700 after:content-['↗'];
}
